
* {
    font-family: Arial;
}

h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#views {
    width: 90%;
    height: 100%;
    background-color : white;
}

#navbar {
    width: 100%;
    height: 7.5%;
    background-color: #c5decc;
    /*background-image: linear-gradient(to bottom, #c5decc, #dee4df 60px);*/  
    
}

#navbar:focus {
    outline: none;
}

/*navbar styling for navbar unordered list*/
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: transparent;
    justify-content: space-between;
    overflow:hidden;

  }


/*navbar anchor tag styling*/
.navbarLink {
    color: black;
    font-size: 32px;
    display: block;
    text-decoration: none;
}

.navbarLink:hover {
    background-color: #fff1b3;
}

/*Entry frame*/
.entry {
    width: 90%;
    max-width: 400px;
    height:90%;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid #bdc9b5;
    box-shadow: 1px 1px 1px #a3a8a0, 2px 2px 2px black, 3px 3px 3px #a3a8a0, 4px 4px 4px black;
    background-color: #dee6e0;
}


.entry:hover {
    background: linear-gradient(#f0efb4, #dcf26f);

}


/*Entry text*/
.entry-textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.entry-textbox > * {
    margin-left: 10%;
}

.entry-textbox > input {
    margin-left: 10%;
}

.entry-text {
    font-size: 16px;

}

.deck-entry-creator-text:hover {
    color: #81e392;
}



.entry-button-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.entry-button-grid > * {
    margin-right: 10%;
}

/*Entry button*/
.entry-button {
    border: 1px solid black;
    background-color: #81e392;
    height: 15%;
}

.entry-button:hover {
    background: linear-gradient(#f0efb4, #dcf26f);
}
/*Outer frame of card*/
.card {
    width: 80%;
    height: 80%;
    background-color: transparent;
    display: inline-block;
}

/*Card contexts to support flip animation*/
.card-inside {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*Connectiing card front and back*/
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

/*Card front*/
.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
}

/*Card back*/
.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    transform: rotateY(180deg);
}

#HomeView {
    padding-left: 35%;
}


/* Styling for decks page below */


#DecksView {
    width: 100%;
    height: 100%;

}

#decks-button-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



.cool-green-button {
    width: 10%;
    min-width: 90px;
    height: 35px;
    max-height: 60px;
    margin: 2px;
    padding: 4px;
    font-size: 15px;
    background-color: rgb(0, 122, 90);
    border: none;
    border-radius: 4px;
    color: white;
}

.cool-green-button:hover {
    background: linear-gradient(rgb(0,112,90), rgb(90,112,90));

}

/* create new deck page*/
#create-new-deck-view {
    position: absolute;
    left: 40%;
    top: 30%;
}
/* create new deck page*/


/* deck creation page */

#deck-preview-pane {
    border: 2px solid black;
    width: 90%;
    height: 30%;
}

#card-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#deck-creation-page {
    width: 90%;
    height: 80%;
    position: absolute;
    left: 5%;
    top: 15%;

}


textarea {
    display: block;
    resize: none;
}


label {
    font-size: 24px;
    display: block;
}
/* deck creation page */

#user-decks-container {
    width: 100%;
    height: 90%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: hidden;
}



#deckname-label{
    font-size: 32px;
    font-weight: bold;
    display: block;
}

/* Styling for decks page above */


/* Study page styling below */
#StudyView {
    height: 100%;
    width: 123%;
}

.studyButton {
    margin: 1%;
    padding: 2%;
    font-size: larger;
    border-radius: 5%;
}

#correct-button {
    margin-left: 30%;
    background-color: #28a745;
    color: white;
    border: none;
}

#incorrect-button {
    background-color: #dc3545;
    color:white;
    border:none;
}

/*Styling for home page below*/
.homepage-entry {
    margin-top: 10px !important;
}

.homepage-follower {
    margin-top: 10px !important;
}

.homepage-followee {
    margin-top: 10px !important;
}



#homepage-addButton:active {
    box-shadow:
      inset -2px -2px 3px rgb(255 255 255 / 60%),
      inset 2px 2px 3px rgb(0 0 0 / 60%);
  }



/* Styling for profile page below */
#profileView {
    width: 100%;
    height: 100%;
}

#profile-button-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#other-decks-container {
    width: 105%;
    height: 550px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

#profile-entry-container {
    display: inline-block;
    width: 400px;
    height: 180px;
}
/* Styling for profile page above */
