body {
    background-color: aqua;
}

/*navbar styling for navbar unordered list*/
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: rgb(173, 70, 70);
    justify-content: space-between;
    overflow:hidden;
    
  }
  
/*navbar unordered list li element styling*/
.navbarLink {
    list-style-type: none;
    float: left;
}

/*navbar anchor tag styling*/
.navbarLink a{
    color: white;
    font-size: 30px;
    display: block;
    text-decoration: none;
}

.entry {
    width: 700;
    height: 150;
    margin: 10;
    display: "grid";
    grid-template-columns: 3fr 1fr;
    border: solid;
}

.entry-textbox {
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.entry-button {
    width: 125;
    height: 75;
    border: solid;
    place-self: center;
}